
.calc-symbol{
  font-size: 2.0rem;
  /* border-radius: 0.75rem; */
  width: 4.0rem;
}


.fsc-1 {
  font-size: 3.0rem;
}

.start-btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}